html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { 
  height: 100vh;
  background-color: #8cd941;
}

#container {
  width: 100%;
  height: 100%;
}

.top, .bottom {
  width: 100%;
}

.row {
  display: block;
  width: 100%;
}

.space {
  width: 32%;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.space:hover {
  cursor: pointer; 
}

.preload {
  display: none;
}

