html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }

#container {
  display: flex;
  max-width: 600rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #8cd941;
}

.col {
  display:block;
}

.space {
  display: flex;
  height: 6rem;
  width: 6rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.space:hover {
  cursor: pointer; 
}

.preload {
  display: none;
}